body, html {
  background-color: rgb(183, 223, 219);
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
.calculator {
    text-align: center;
    
}

.calculator h2 {
    margin-bottom: 20px;
}

.calculator button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
}
.likeBtn{
  background-color: rgb(12, 112, 218);
}

.reactionBtn button {
  min-height: 2vh;
  min-width: 2vw;
  margin: 0.2rem;
  background-color: rgb(183, 223, 219);
  border: none;
}
.finalReturn button{
  min-height: 3vh;
  min-width: 2vw;
  margin-top: 0.75rem;
  background-color: rgb(183, 223, 219);
  border: none;
}